<!-- this is the xml declaration -->
<?xml version="1.0" encoding="UTF-8"?>

<!-- our widget node must have two XML lane spaced defined
one for the W3C widget spec and one for the PhoneGap spec, these values are the same from app to app -->
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.eitcwebdev.hunt"
	versionCode="1"
	version   = "1.0">
	
<!-- name and description of the application -->
<name>TREASURE HUNT</name>
<description>
A sample app forPhoneGap Build		
</description>

<!-- author's info -->
<author href="eitcwebdev.com" 
email="julie.anderson@my.eitc.edu">
Julie Anderson
</author>

</widget>
